name: test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  compile:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: mlugg/setup-zig@v1
        with:
          version: 0.13.0

      - run: zig build -Dprefix=$HOME/.local
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v1
      - run: zig fmt --check src/*.zig
